body{
  background-color: #bbbcb8;
}

h1 {
	font-size: 4em;
	letter-spacing: 1px;
}

textarea {
	background: rgba(250, 250, 250, .8);
}



#submit{
  display: block;
  margin: auto;
  background: rgba(5, 5, 2, .2);
  border: 1px solid black;
}
