body{
 background-image: url("../images/links.svg");
    background-size: 10%;
    background-repeat: repeat;
}

h1 {
	font-size: 4em;
	letter-spacing: 1px;
}

textarea {
	background: rgba(250, 250, 250, .8);
}

#banner {
	padding: 1em;
	height: 70%;
}

label,#footerTitle {
	font-size: 1.4em;
	letter-spacing: .1em;
}

#submit{
    background: #fff;
    border: 1px solid #000;
    color: #000;
    margin-top: 5px;
    font-size: .8em;
    padding: 8px;
    float: left;
      width: 15%;
    margin-left: auto;
    margin-right: auto;
}

#submit:link {

}

#submit:hover {
    background-color: #000000;
    color: white;
}

#submit:active {
    background-color: #000000; 
    color: white;
}

#gifs {
	width: 130px;
}

#loadingGif {
  margin-top: -100px;
  width: 230px;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

th {
	padding: .6em;
	text-align:center
}

table {
	table-layout: fixed;
	width: 100%;
}

